<div class="container container-bg my-5">
  <h1 class="text-start text-light d-inline">Members Only</h1>
  <%= link_to "Join the Club", "#", 
    class: "btn btn-secondary float-end d-none d-sm-inline"%>
</div>

<div class="container container-bg">
  <div class="row g-3 mb-4 mb-md-0">
    <div class="col-md">
        <%= image_tag "svg_images/add_post.svg", class:"container container-bg" %>
    </div>
    <div class="col-md d-flex flex-column justify-content-evenly">
      <p class="text-light fs-3 fw-bold">Post</p>
      <p class="text-light align-self-center lead">Create posts to share with other members. Posts will stay up for 24 hours.</p>
    </div>
  </div>
  <br/>
  <div class="row g-3 mb-4 mb-md-0">
    <div class="col-md order-md-2">
      <%= image_tag "svg_images/anonymous.svg", class: "container container-bg-sm"%>
    </div>
    <div class="col-md d-flex flex-column justify-content-evenly order-md-1">
      <p class="text-light fs-3 fw-bold">Stay Anonymous</p>
      <p class="text-light align-self-center lead">
        The author of posts will only be visible to other members.<strong> Outsiders wont be able to see who made the post,</strong> but can still see the post.
      </p>
    </div>
  </div>
  <div class="row g-3 mb-4 mb-md-0">
    <div class="col-md">
      <%= image_tag "svg_images/mobile_feed.svg", class: "container container-bg"%>
    </div>
    <div class="col-md d-flex flex-column justify-content-evenly">
      <p class="text-light fs-3 fw-bold">Explore</p>
      <p class="text-light lead">
        Browse posts from users, write comments, and like your favourite posts.
      </p>
    </div>
  </div>
  <div class="container container-bg text-center my-3">
    <%= link_to "Join the Club", "#",
      class: "btn-lg btn-secondary d-sm-none"%>
  </div>
</div>
