<div class="container container-bg my-5 ">
  <div class="row justify-content-space-between">
    <div class="col">
      <h1 class="text-start text-light d-inline">Members Only</h1>
    </div>
    <div class="col d-flex justify-content-end  align-items-center">
      <div class="container-bg d-flex-inline justify-content-around">
        <%= link_to "Join the Club", new_user_registration_path, 
          class: "btn btn-secondary d-none d-sm-inline mx-2 hover"%>
        <%= link_to "Login", new_user_session_path,
          class: "btn btn-sec d-none d-sm-inline mx-2 text-dark hover"%>
      </div>
    </div>
  </div>
</div>

<div class="container container-bg">
  <div class="row g-3 mb-4 mb-md-1">
    <div class="col-md">
        <%= image_tag "svg_images/add_post.svg", class:"container container-bg" %>
    </div>
    <div class="col-md d-flex flex-column justify-content-evenly">
      <p class="text-light fs-3 fw-bold">Post</p>
      <p class="text-light align-self-center lead">Create posts to share with other members. Posts will stay up for 24 hours.</p>
    </div>
  </div>
  <br/>
  <div class="row g-3 mb-4 mb-md-1">
    <div class="col-md order-md-2">
      <%= image_tag "svg_images/anonymous.svg", class: "container container-bg-sm"%>
    </div>
    <div class="col-md d-flex flex-column justify-content-evenly order-md-1">
      <p class="text-light fs-3 fw-bold">Stay Anonymous</p>
      <p class="text-light align-self-center lead">
        The author of posts will only be visible to other members.<strong> Outsiders wont be able to see who made the post,</strong> but can still see the post.
      </p>
    </div>
  </div>
  <div class="row g-3 mb-4 mb-md-1">
    <div class="col-md">
      <%= image_tag "svg_images/mobile_feed.svg", class: "container container-bg"%>
    </div>
    <div class="col-md d-flex flex-column justify-content-evenly">
      <p class="text-light fs-3 fw-bold">Explore</p>
      <p class="text-light lead">
        Browse posts from users, write comments, and like your favourite posts.
      </p>
      <%= link_to "Browse Secrets Now", secrets_url,
        class: "btn btn-tert text-light hover"%>
    </div>
  </div>
  <div class="container container-bg text-center my-3 d-sm-none">
    <%= link_to "Join the Club", new_user_registration_path,
      class: "btn btn-lg btn-secondary"%>
    <%= link_to "Login", new_user_session_path, 
      class: "btn btn-lg btn-sec"%>
  </div>
</div>
