<div class="modal-header">
  <h5 class="modal-title">Create Secret</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="container d-flex flex-column justify-content-center">
    <%= form_with(model: @secret, local: false) do |f| %>
      <div class="container d-flex flex-column">
        <%= f.label :title,
          class: "fs-4 fw-bold"%>
        <%= f.text_field :title %>
      </div>
      <div class="container d-flex flex-column">
        <%= f.label :body,
          class: "fs-4 fw-bold"%>
        <%= f.text_area :body %>
      </div>
  </div>
</div>
  <div class="modal-footer container d-flex flex-column  align-items-end">
    <%= f.submit "Create Secret",
      class: "btn btn-primary btn-sm hover"%>
  </div>
  <% end %>