  <%= form_with(model: @secret,local: false, remote: true) do |f| %>
<div class="modal-header">
  <h5 class="modal-title">Create Secret</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div class="container d-flex flex-column justify-content-center">

      <div class="container d-flex flex-column">
        <%= f.label :title,
          class: "fs-4 fw-bold"%>
        <%= f.text_field :title,
         required: true, 
         id:"title_field" %>
      </div>
      <div class="container d-flex flex-column">
        <%= f.label :body,
          class: "fs-4 fw-bold"%>
        <%= f.text_area :body, required: true, id: "body_field" %>
      </div>
  </div>
</div>
  <div class="modal-footer container d-flex flex-column  align-items-end">
    <%= f.submit "Create Secret",
      class: "btn btn-primary btn-sm hover",
      id: "form-submit"%>
  </div>
    <% end %>

<%# 

Since the new and create actions are ajax calls, the jquery is 
not reloaded, and cannot find the submit button. Putting the
script in here solves that issue.

 %>
<script> 

$modal = $("#modal-window")
$("#form-submit").on("click", () =>{
  console.log("clicked")
  $submit = $("#form-submit")
  $title = $("#title_field").val()
  $body = $("#body_field").val()
  if (($title !== "") && ($body !== "")) {
    $modal.modal("hide")
  }

})

</script>