
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <%= link_to "Members Only", "#",
      class: "fs-4 text-light btn navbar-brand"%>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsable" 
      aria-controls="collapsable" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsable">
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-1 d-none d-md-inline">
          <div class="container">
            <%= link_to "Share Secret", new_secret_url,
              class: "btn text-light btn-main"%>
          </div>
        </li>
        <li class="nav-item mx-1 d-none d-md-inline">
          <div class="container">
            <%= link_to "Logout", destroy_user_session_path,
              method: :delete,
              class: "btn text-dark btn-sec" %>
          </div>
        </li>
        <li class="nav-item mx-1 d-md-none">
          <div class="container">
            <%= link_to "Share Secret", new_secret_url,
              class: "btn text-light"%>
          </div>
        </li>
        <li class="nav-item mx-1 d-md-none">
          <div class="container">
            <%= link_to "Logout", destroy_user_session_path,
              method: :delete,
              class: "btn text-light" %>
          </div>
        </li>
      </ul> 

    </div>
  </div>
</nav>



<div class="container container-bg mt-2">

  <div class="row">
    <div class="col d-none d-lg-block">
      test
    </div>
    <div class="col-6">
      <% @secret.each do |secret|%>
        <div class="container d-flex flex-column justify-content-center mt-2 shadow border round">
          <div class="container border-bottom border-success">
            <h3 class="fs-2 fw-bold"><%= secret.title %></h3>
          </div>
          <div class="container">
            <p class="ps-2"><%= secret.body %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col d-none d-lg-block">
      test
    </div>
  </div>

</div>

