<div class="modal fade" id="modal-comment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<div class="container-fluid d-flex flex-column justify-content-center mt-4 p2" style="min-width: 50vw;max-width: 40rem">

  <div class="container d-flex flex-column bg-light rounded">
    <%= render "shared/post_header", secret: @secret%>
    <h2 class="fw-bold">
      <%= @secret.title %>
    </h2>
    <hr>
    <p class="lead ps-2">
      <%= @secret.body %>
    </p>
    <% if user_signed_in? %>
      <% 
      linked_path = new_secret_comment_path(secret_id: @secret.id,format: :js)
      bool = true %>
    <% else %>
      <% 
      linked_path = new_user_session_path
      bool = false 
      %>
    <% end %>
      <%= link_to "Comment", linked_path,
        remote: bool,
        class: "btn btn-sec align-self-end w-20 p-2 m-2 hover"%>
    <%= render "comments/comments", commentable: @secret%>
  </div>


  <div class="container mt-3 p-0">
    <%= link_to "Back", secrets_url, class: "btn btn-sec" %>
  </div>
</div>

