<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
          <%= link_to "Members Only", root_path,
            class: "fs-4 text-light btn navbar-brand"%>

          <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsable" 
            aria-controls="collapsable" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsable">
            <% if current_user%>
              <%= render "secrets/logged_in"%>
            <% else %>
              <%= render "secrets/not_logged_in"%>
            <% end %>

          </div>
        </div>
      </nav>
      <div class="container-fluid px-0 zindex-alert position-absolute top-10" id="flash">
        <%= render "shared/flash_messages"%>
      </div>

    <%= yield %>
  </body>
</html>
